*{
    margin: 0;
    padding: 0;
}
.mary{
    margin-left: 40px;
    font-size: 30px;
}
.mary span{
    color: orange;
}
ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
ul li{
    margin-right: 40px;
    align-items: center;
}
.header1{
    display: flex;
    justify-content:space-between;
    background-color: rgb(248, 239, 226);
    height: 60px;
    align-items: center;
}
.hireme{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}